

.reveal h1 code,
.reveal h2 code,
.reveal h3 code,
.reveal h4 code,
.reveal h5 code,
.reveal h6 code{
  font-family: Consolas, Menlo, monospace !important;
}


p.excerpt{
  text-align: left;
  font-size: 22px;
}


.left{
  text-align:left;

}


.reveal .slides {
  text-align: left;
}


.reveal .asciinema-theme-monokai .bg-13 {
  background-color: magenta;
}


.reveal .pseudo{
  margin-top: 5px;
  font-size: 18px;
}

.reveal .pseudo li{
  display: inline;
  padding-left: 20px;
}

.reveal .pseudo li:first-child{
  padding-left: 0px;
}

.reveal .pseudo li:before{
  content: '\2022';
}


.reveal pre{
  width: 100%;
}

.reveal pre.exp{
   background: #444;
   padding: 10px 0px 10px 35px;
   margin: 4px auto 8px;
   font-size: 24px;
   line-height: 1.1em;
   width: 100%;

}

.reveal .meta .title{
  font-size: 35px;
}



.reveal .exp code, .reveal code{
  padding: 8px;
  background: #444;
}


.reveal .exp.big{
  font-size:30px;
}
