.reveal ul{
  display: block;
}
.reveal li{
  font-size: 23px;
}

.reveal h1 code,
.reveal h2 code,
.reveal h3 code,
.reveal h4 code,
.reveal h5 code,
.reveal h6 code{
  font-family: Consolas, Menlo, monospace !important;
}

.reveal p{
  font-size: 17px;
}

p.excerpt{
  text-align: left;
  font-size: 22px;
}


.left{
  text-align:left;

}


.reveal .slides {
  text-align: left;
}


.reveal .asciinema-theme-monokai .bg-13 {
  background-color: magenta;
}


.reveal .pseudo{
  margin-top: 5px;
  margin-bottom: 1.0em;
  margin-left: 0;
}

.reveal .pseudo li{
  display: inline;
  padding-left: 15px;
    font-size: 19px;

}

.reveal .pseudo li code{
  padding: 1px;
  margin: 0;
}


.reveal .pseudo li:first-child{
  padding-left: 0px;
  margin-left: 0px;
}

.reveal .pseudo li:before{
  content: '\00a0 \2022 \00a0';
}


.reveal pre{
  width: 100%;
   background: #444;
   padding: 8px;

}

.reveal pre.truncate{
    overflow: hidden;
  word-wrap: normal;
white-space: pre;

}

.reveal pre.exp{
   margin: 4px auto 8px;
   font-size: 24px;
   line-height: 1.1em;
   padding: 10px 0px 10px 35px;

}



.reveal .meta .title{
  font-size: 35px;
  margin-bottom: 2px;
}



.reveal .exp code, .reveal code{
  padding: 8px;
  background: #444;
}


.reveal .meta .exp{
  font-size: 28px;
  margin-top: 0.5em;
  border: thin solid white;
    background: #444;

}


.reveal .exp.big{
  font-size:30px;
}




.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.meta .description{
  font-size: 20px;
  font-style: italic;
  color: #ddd;
}

.pink{
  color: deeppink !important;
}

.b{
  font-weight: bold !important;

}

pre.shell.exp:before{
  content: '$ \00a0';
}


.reveal .subtitle{
  font-size: 24px;
}
