
            </div>
        </div>
<!--      <script src="js/plugins/head.min.js"></script>
 -->
        <script src="js/reveal.js"></script>
        <script>
            Reveal.initialize(
                { history: true,
                  center: true,
                  slideNumber: true,
        // dependencies: [
        //   { src: 'js/plugins/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad();}
        //   }
        // ]

      });



        </script>


    </body>
</html>
